<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net472" />
  <package id="libtorch-cpu" version="1.13.0.1" targetFramework="net472" />
  <package id="libtorch-cpu-linux-x64" version="1.13.0.1" targetFramework="net472" />
  <package id="libtorch-cpu-osx-x64" version="1.13.0.1" targetFramework="net472" />
  <package id="libtorch-cpu-win-x64" version="1.13.0.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.ML" version="3.0.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="3.0.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="3.0.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.ImageAnalytics" version="3.0.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.TensorFlow" version="3.0.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.Tokenizers" version="0.21.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.TorchSharp" version="0.21.0-preview.23266.6" targetFramework="net472" />
  <package id="Microsoft.ML.Vision" version="3.0.0-preview.23266.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NumSharp.Lite" version="0.1.8" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net472" />
  <package id="SciSharp.TensorFlow.Redist" version="2.3.1" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TensorFlow.NET" version="0.20.1" targetFramework="net472" />
  <package id="TorchSharp" version="0.99.5" targetFramework="net472" />
  <package id="TorchSharp-cpu" version="0.99.5" targetFramework="net472" />
</packages>